@import "config";
@import "utilities";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  // background: linear-gradient(
  //   0deg,
  //   rgba(38, 38, 38, 1) 0%,
  //   rgba(255, 255, 255, 1) 89%
  // );

  // background: linear-gradient(
  //   271deg,
  //   #faaca8,
  //   #ddd6f3,
  //   #e0c3fc,
  //   #d9afd9,
  //   #ff99ac
  // );
  // background-size: 1000% 1000%;

  // -webkit-animation: AnimationName 20s ease infinite;
  // -moz-animation: AnimationName 20s ease infinite;
  // animation: AnimationName 20s ease infinite;

  font-family: $ff-primary;
  color: $primary-color;
  h1,
  h2,
  h3,
  h4 {
    font-family: $ff-primary;
    // font-family: $ff-secondary;
    letter-spacing: 2px;
    font-weight: 500;
  }
  section {
    padding: 8.75rem 0;
  }
}

a {
  @include reset-list;
  transition: all 200ms linear;
}

.logo {
  font-family: $ff-logo;
}

::selection {
  background: $secondary-color;
  color: #fff;
}

// .content {
// background: linear-gradient(
//   0deg,
//   rgba(38, 38, 38, 1) 0%,
//   rgba(255, 255, 255, 1) 89%
// );
// background-color: darken($color: #fff, $amount: 4.5);
// }

/*  Header  */
.header {
  height: 3em;
  font-size: 1.2rem;
  margin: 0px auto;
  position: fixed;
  padding: 0.31em;
  width: 100%;
  z-index: 3;
  transition: 0.3s all ease-in-out;
  &.sticky {
    background: #fff;
    padding: 0.71em 0.31em;
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
  }
  .container {
    @include d-flex(space-between, flex-end);
    padding: 0;
    height: 100%;
  }
  .header-logo {
    align-self: center;
  }
  .header-menu-btn {
    display: none;
    height: 60%;
    .hamburger {
      width: 38px;
      height: 100%;
      @include d-flex(space-between, center, column);
      div {
        height: 3px;
        width: 100%;
        background: #3e4651;
        border-radius: 2px;
        align-self: flex-start;
        transition: 0.25s ease-in-out;
        &:nth-child(1) {
          transition-delay: 0.5s;
        }
        &:nth-child(2) {
          transition-delay: 0.624s;
        }
        &:nth-child(3) {
          transition-delay: 0.6s;
        }
      }
    }
  }
  // Open Burger menu
  .open-menu {
    .hamburger {
      div {
        background: $secondary-color;
        &:nth-child(1) {
          width: 45%;
          transition-delay: 0.01s;
        }
        &:nth-child(2) {
          width: 90%;
          transition-delay: 0.11s;
        }
        &:nth-child(3) {
          width: 75%;
          transition-delay: 0.01s;
        }
      }
    }
  }
  /* Navigation */
  .header-nav {
    height: 100%;
    .header-nav__navbar {
      height: 100%;
      display: flex;
      list-style: none;
      li {
        align-self: center;
      }
      .active {
        color: $secondary-color;
      }
      & a:hover {
        color: $secondary-color;
      }
      .resume {
        align-self: center;
        border: 1px solid $secondary-color;
        border-radius: 5px;
        transition: 0.25s ease-in-out;
        a {
          color: $secondary-color;
          margin: 0;
          padding: 3px 20px;
          display: inline-block;
        }
        & a:hover {
          color: #fff;
          background: $secondary-color;
        }
      }
    }
  }
  a {
    color: $primary-color;
    text-transform: capitalize;
    margin-right: 2em;
  }
}

/* Introduction */
.intro {
  height: calc(100vh - 3rem);
  @include d-flex();
  padding: 14rem 0 7rem;
  .container {
    @include d-flex($content: center, $direction: column);
  }
  h1 {
    font-size: 2.5rem;
    line-height: 4rem;
    font-size: 38px;
  }
  .intro-text {
    font-size: 1.5rem;
    line-height: 3.5rem;
    font-size: 22px;
    letter-spacing: 1px;
    a {
      color: #c9c9c9;
      color: #a463f2;
    }
  }
}

/* Services I Offer */
.services {
  // height: 75vh;
  .container {
    @include d-flex(center, center, column);
    height: 100%;
  }
  .services-title {
    margin-bottom: 6.3em;
    align-self: self-start;
    span {
      font-size: 1.3rem;
      text-transform: capitalize;
      color: #c9c9c9;
      // color: #ffffff;
      // background-color: #a463f2;
      padding-right: 20px;
      // color: darken($color: $secondary-color, $amount: 14);
    }
    p {
      font-size: 1.5rem;
      font-size: 22px;
      line-height: 1.6em;
      letter-spacing: 1.1px;
      margin-bottom: 0.75em;
    }
    h1 {
      font-size: 2.2rem;
      font-size: 35px;
      line-height: 4rem;
      margin-top: 0.4rem;
      margin-bottom: 1rem;
      text-transform: capitalize;
    }
  }
  .services-offer {
    @include d-flex($content: space-between);
    width: 100%;
    position: relative;
    .services-offer__card {
      @include d-flex(flex-start, normal, column);
      height: 14em;
      width: 23.5em;
      padding: 0.6em;
      transition: 0.4s ease-in-out;
      transition-property: transform;
      transition-delay: 0.4ms;
      h2 {
        font-size: 1.7em;
        font-size: 24px;
      }
      p {
        letter-spacing: 1px;
        font-size: 1.5rem;
        font-size: 20px;
        line-height: 2.4rem;
        padding-top: 0.9em;
      }
      &::before {
        content: "";
        position: absolute;
        left: -15px;
        bottom: 0;
        width: 0;
        height: 100%;
        background-color: #a463f2;
        transition: 0.4s ease-in-out width;
      }
      &:hover::before {
        width: 15px;
      }

      &:hover {
        background-color: rgba(250, 250, 250, 0.4);
        transform: translateX(15px);
        // border-color: $secondary-color;
        // border-left: 13px solid #a463f2;
        box-shadow: 10px 29px 115px -27px rgba(164, 99, 242, 0.42);

        //card sluggish transition
        // [transition: 0.4s ease-in-out all;
        // transform: scale(1.03);]

        // .icon {
        //   opacity: 90%;
        //   fill: $secondary-color;
        //   transition: 0s;
        // }
      }
    }
    .services-offer__card + .services-offer__card {
      margin-left: 0.5em;
    }
  }
}

/* Latest Work */
#work {
  padding-top: 8.75rem;
  padding-bottom: 8.75rem;
  .container {
    height: 100%;
  }
  .work-text {
    // padding: 0 5.7rem;
    span {
      font-size: 1.3rem;
      color: #c9c9c9;
      // color: #ffffff;
      // background-color: #a463f2;
      padding-right: 20px;
      // color: darken($color: $secondary-color, $amount: 14);
    }
    h3 {
      font-size: 2.7rem;
      font-size: 35px;
      margin-top: 1rem;
    }
  }
  .work-projects {
    @include d-flex();
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: auto;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    padding-top: 5.7rem;
    .projects {
      align-items: center;
      position: relative;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      overflow: hidden;
      width: 50%;
      padding: 0 37px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 2.5rem;
      img {
        max-width: 100%;
        max-height: 100%;
        transition: 0.4s;
        margin-bottom: -3px;
      }
      .projects__image {
        // border-radius: 10px;
        margin-bottom: 1.5rem;
        width: 100%;
        height: auto;
        position: relative;
        transition: 0.4s;
        overflow: hidden;
        // box-shadow: 0 24px 24px rgba(0, 0, 0, 0.16);
        &:hover {
          border-radius: 2px;
          transform: scale(0.95);
          transition: 0.4s;
          width: 100%;
          img {
            border-radius: 10px;
            transform: scale(1.1);
          }
          & ~ .projects__caption .projects__caption--name {
            color: $secondary-color;
          }
        }
        .projects__image--description {
          font-family: $ff-primary;
          background-color: rgba(50, 100, 160, 0.5);
          background-color: #212020;
          color: #fff;
          height: 100%;
          width: 100%;
          opacity: 0;
          top: 0;
          left: 0;
          position: absolute;
          display: flex;
          flex-direction: column;
          place-content: center;
          padding: 70px;
          transition: opacity 0.4s;
          &:hover {
            opacity: 1;
            transition: opacity 0.5s;
          }
          h3 {
            font-size: 32px;
            line-height: 2.4em;
          }
          p {
            font-size: 20px;
            letter-spacing: 1px;
            line-height: 2.3rem;
            padding-left: 17px;
          }
        }
      }
      .projects__caption {
        // width: 25em;
        .projects__caption--name {
          font-size: 1.7em;
          font-size: 24px;
          margin-bottom: 0.6rem;
        }
        .projects__caption--tool {
          padding: 0.28em 0.5em;
          // line-height: 2.5;
          border-radius: 6px;
          background-color: rgba(0, 0, 0, 0.05);
          border: 1px solid rgba(0, 0, 0, 0.03);
          box-shadow: 0 24px 24px rgba(0, 0, 0, 0.03);
          margin-right: 0.3rem;
          margin-bottom: 0.4rem;
          transition: 0.24s;
          font-family: $ff-secondary;
          display: inline-block;
          &:hover {
            transform: translateY(-5px);
            color: darken($color: $secondary-color, $amount: 10);
          }
        }
        label {
          font-size: 1.1em;
        }
      }
    }
    .projects:nth-last-child(-n + 3)
      .projects__caption
      .projects__caption--tool:hover {
      color: darken($color: $secondary-color, $amount: 0);
    }
    .projects:nth-child(2n) {
      margin-top: -9.6rem;
    }
    .work-technologys {
      @include d-flex($content: flex-end);
      font-family: $ff-primary;
      // height: 100px;
      height: 625%;
      width: 100vw;
      margin-right: -11.5%;
      margin-top: -8.9rem;
      // margin-bottom: 0.6rem;
      color: #dedede;
      .work-technologys__tools {
        width: 46%;
        padding: 0.7rem;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 2px 0 0 2px;
        // box-shadow: 0 24px 24px rgba(0, 0, 0, 0.17);
        z-index: 1;
        .tool {
          list-style: none;
          padding: 0.5rem;
          display: inline-block;
          transition: 0.4s;
          .icon {
            .icon_inverted {
              filter: invert(1);
            }
            &__shopify {
              width: 24px;
              height: 24px;
            }
          }
          .tool_text {
            position: absolute;
            width: 120px;
            background-color: hsla(267.3, 84.6%, 66.9%, 0.95);
            color: #fff;
            text-align: center;
            padding: 5px 0;
            z-index: 1;
            border-radius: 6px;
            bottom: 110%;
            left: 50%;
            margin-left: -55px;
            opacity: 0;
            transition: opacity 0.4s;
            visibility: hidden;
            &::after {
              position: absolute;
              content: "";
              border-style: solid;
              border-width: 5px;
              border-color: hsla(267.3, 84.6%, 66.9%, 0.95) transparent
                transparent transparent;
              top: 100%;
              left: 50%;
              margin-left: -5px;
            }
          }
          &:hover {
            transform: translateY(-6px);
            .tool_text {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

/*Skills*/
.skills {
  .container {
    @include d-flex(center, normal, row);
    .skills-left {
      flex-basis: 50%;
      padding: 0 1.75rem;
      span {
        font-size: 1.3rem;
        text-transform: capitalize;
        color: #c9c9c9;
        padding-right: 20px;
        margin-bottom: 50px;
      }
      p {
        font-size: 24px;
        line-height: 2.6rem;
        letter-spacing: 1.1px;
        padding-top: 20px;
      }
    }
    .skills-right {
      flex-basis: 50%;
      padding: 0 1.75rem;
      margin-top: 51px;
      .skillset {
        padding-bottom: 74px;
        font-size: 24px;
        h4 {
          font-weight: 500;
          padding: 0 0 20px 0;
        }
        p {
          font-size: 20px;
          line-height: 2.3rem;
          letter-spacing: 1px;
        }
      }
    }
  }
}

/*Contact*/
#contact {
  background-color: #262626;
  height: 100%;
  padding: 4.7rem 0;
  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .contact-left {
    width: 70%;
    align-self: flex-start;
  }
  .contact-right {
    align-self: flex-start;
    font-size: 1.5em;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 2.4rem;
  }
  h2 {
    color: #c9c9c9;
    font-size: 38px;
    // font-size: 2.7em;
  }
  p {
    color: #717171;
    margin-bottom: 1.5rem;
  }
  .contact-email {
    color: $secondary-color;
    margin-bottom: 1.5rem;
  }
}

/*Footer*/
footer {
  background-color: #262626;
  height: auto;
  display: flex;
  align-items: center;
  .container {
    border-top: 2px solid #33333b;
    padding: 1.2rem 0;
    text-transform: capitalize;
    color: #c9c9c9;
    @include d-flex($content: space-between, $items: center);
  }
  .footer-copyright {
    span {
      font-size: 1.3em;
    }
  }
  .footer-links {
    ul {
      @include d-flex();
      @include reset-list;
      li {
        text-transform: capitalize;
        margin-right: 2em;
        font-size: 1.3em;
        a {
          color: #c9c9c9;
          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
  }
}

@import "mobile";
